body {
    font-family: Arial, sans-serif;
    background-color: #ffeb3b; /* Colore vivace per lo sfondo */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Riduci la larghezza della tabella */
    margin: 0 auto; /* Centra la tabella */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.emote {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
